{% extends 'base.html' %}
{% load static %}
{% block title %}Все товары{% endblock %}

{% block categories%}Категории{% endblock %}
{% block page_title %}
Товары
{% include 'partial/search.html' %}
{% endblock %}
{% block products %}
<div class="products_container">
    {% for product in products %}
    <div class="product_block">
        <div class="img_block">
            <img src="{{product.image}}" alt="">
        </div>
        <div class="content_block">
            <a href="{% url 'product_view' product.pk %}"><b>{{product.name}}</b></a>
            <p>Категория: {{product.get_category_display}}</p>
            <b>Цена: {{product.price}} $</b>
            <a class="more_link" href="{% url 'product_view' product.pk %}">Посмотреть больше..</a>
            <a class="add_to_cart" href="{% url 'cart_add' product.id %}">Добавить в корзину <i class="fa-solid fa-cart-arrow-down"></i></a>
        </div>
    </div>
    {% endfor %}
</div>
{% include 'partial/pagination.html' %}
{% endblock %}

