{% extends 'base.html' %}
{% load static %}
{% block title %}Все товары{% endblock %}
<body>
{% block categories%}Категории{% endblock %}
{% block page_title %}
Товары
<form action="#" method="get">
    <input type="text" name="search">
    <button type="submit">Search</button>
</form>
{% endblock %}
{% block products %}
{% for product in products %}
<div class="product_block">
    <div class="img_block">
        <img src="{{product.image}}" alt="">
    </div>
    <div class="content_block">
        <a href="{% url 'product_view' product.pk %}"><b>{{product.name}}</b></a>
        <p>Категория: {{product.get_category_display}}</p>
        <b>Цена: {{product.price}} $</b>
        <a class="more_link" href="{% url 'product_view' product.pk %}">Посмотреть больше..</a>
    </div>
</div>
{% endfor %}
{% endblock %}
</body>
</html>